{%extends 'registration/base.html'%}
{%load static%}
{%load humanize%}
{%block styles%}
{%endblock styles%}
{%block content%}

<div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'registration/images/2fa.svg' %}" alt="sing up image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Verify your Number</h2>
                        <h4 class="form-title">Enter code received on your phone</h4>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_code"><i class="fa fa-sms"></i></label>
                                <input type="number" name="code" id="id_code" placeholder="Enter Code"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{%endblock content%}

{%block scripts%}
{%endblock scripts%}