{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front Liner Tech - Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'registration/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'registration/images/pay.svg' %}" alt="sing up image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Pay to Access Dashboard</h2>
                        <h4 class="form-title">Enter the M-Pesa transaction code received on your phone</h4>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_code"><i class="fa fa-sms"></i></label>
                                <input type="number" name="code" id="id_code" placeholder="Enter Code"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'registration/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'registration/js/main.js' %}"></script>
</body>

</html>