{%extends 'users/sacco_base.html'%}
{%load static%}
{%load humanize%}

{%block styles%}
{%endblock styles%}

{%block content%}
<section id="pricing" class="pricing">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <h3>Tech Tackk Sacco</h3>
        <div class="alert alert-primary" role="alert">
          Your account balance is <strong>Ksh 50,000</strong>.
        </div>

        <div class="section-title">
          <h4>Check out our <span>Packages</span></h4>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="box border border-primary">
              <h3 class="border-bottom border-primary">Silver</h3>
              <h4><sup>Ksh</sup>1000 - 3000<span> / month</span></h4>
              <ul>
                <li>8% Returns</li>

              </ul>
              <div class="btn-wrap border-top border-primary">
                <a href="#" class="btn-buy" style="text-decoration:none">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured border border-primary">
              <h3 class="border-bottom border-primary">Bronze</h3>
              <h4><sup>Ksh</sup>3001 - 5000<span> / month</span></h4>
              <ul>
                <li>10% Returns</li>

              </ul>
              <div class="btn-wrap border-top border-primary">
                <a href="#" class="btn-buy" style="text-decoration:none">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mt-4 mt-lg-0 aos-init aos-animate " data-aos="fade-up" data-aos-delay="300">
            <div class="box border border-primary">
              <h3 class="border-bottom border-primary">Gold</h3>
              <h4><sup>Ksh</sup>5001 - 7000<span> / month</span></h4>
              <ul>
                <li>15% Returns</li>

              </ul>
              <div class="btn-wrap border-top border-primary">
                <a href="#" class="btn-buy" style="text-decoration:none">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
{%endblock content%}

{%block scripts%}
{%endblock scripts%}